#main
{
	background-image:url('../img/AlexandriaLibrary.png');
	background-repeat:repeat-y;
	background-size:cover;
	height:878px;
}
#title
{
	margin-top:0;
}
#first-conf
{
	color:black;
	font-family:impact;
}
#new-trends
{
	color:#0488d0;
	font-family:arial;
	font-weight:bold;
}
#icntse
{
	color:white;
	font-size:6em;
	font-weight:bold;
}
.shaded
{
	min-height:100px;
	color:white;
	font-size:1.5em;
	background-color:rgba(0,0,0,0.4);
	position:relative;
}
.shaded p
{
	position:absolute;
	top:50%;
	transform: translate(0,-50%);
	margin-right:-50%;
}
.shaded img
{
	float:right;
}
#bottombar
{
	position:relative;
	top:350px;
}
#bottombar #imgpos
{
	position:absolute;
	right:5%;
	bottom:5%;
}
.image
{
	position:relative;
	width:100%;
}
.image img
{
	display:block;
	margin: 0px auto;
}
.image p
{
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	margin-right:-50%;
	width:135px;
	text-align:center;
}
#nav
{
	padding-top:6px;
}
#about-alex, #about-icntse, #call-for-papers, #fees, #contact-us
{
	padding:2px;
	margin-top:12px;
	font-size:1.5em;
}
#about-alex
{
/*	background-image:url('../img/Layer 2.png');*/
}
#about-icntse
{
/*	background-image:url('../img/Layer 2 copy.png');*/
}
#call-for-papers
{
/*	background-image:url('../img/Layer 2 copy 2.png');*/
}
#fees
{
/*	background-image:url('../img/Layer 2 copy 3.png');*/
}
#contact-us
{
/*	background-image:url('../img/Layer 2 copy 4.png');*/
}
