.nav-buttons
{
}
#main
{
	background-image:url('../img/AlexandriaLibrary.png');
	background-repeat:repeat-y;
	background-size:cover;
}
#first-conf
{
	color:black;
}
#new-trends
{
	color:#0488d0;
}
#icntse
{
	color:white;
}
.shaded
{
	color:white;
	background-color:rgba(0,0,0,0.4);
}
.image
{
	position:relative;
	width:100%;
}
.image img
{
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.image p
{
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	margin-right:-50%;
	width:135px;
	text-align:center;
}
#about-alex #about-icntse #call-for-papers #fees #contact-us
{
	padding:2px;
	margin:2px;
}
#about-alex
{
/*	background-image:url('../img/Layer 2.png');*/
}
#about-icntse
{
/*	background-image:url('../img/Layer 2 copy.png');*/
}
#call-for-papers
{
/*	background-image:url('../img/Layer 2 copy 2.png');*/
}
#fees
{
/*	background-image:url('../img/Layer 2 copy 3.png');*/
}
#contact-us
{
/*	background-image:url('../img/Layer 2 copy 4.png');*/
}
